/bootstrap
/node_modules
/public
/public/*
/storage/*.key
/storage
/vendor
/bootstrap
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.editorconfig
.styleci.yml
artisan
composer.json
composer.lock
package.json
phpunit.xml
README.md
server
webpack.mix.js
